#index-body {
    background-color: #f5f1f1;
    width: 500px;
    height: 600px;
    margin-top: 10%;
    margin-left: 30%;
    justify-content: center;
    align-items: center;
}

h1 {
    
    padding: 60px;
    
    text-align: center;
}

#form {
    text-align: center;
}

.required {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.optional {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: left;
}

.labels {
    font-size: 12px;
}

.checkbox {
    font-size: 12px;
}

#top-optional {
    margin-top: 30px;
}

#bottom-optional {
    margin-bottom: 30px;
}

#calculate {
    color: white;
    background-color: #8298d9;
    border: none;
    padding: 2px;
    height: 30px;
    width: 80px;
    margin-right: 100px;
    font-family: "Times New Roman", Times, serif;
    float: right;
}

#calculate:hover {
    background-color: #516bb8;

}